<main>
  <header class="py-3 mb-4 border-bottom">
    <div class="container d-flex flex-wrap justify-content-center">
      <a href="/" class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto text-dark text-decoration-none">
        <span class="fs-4" *ngIf="career"> {{career.name}} </span>
      </a>
    </div>
  </header>
  <!-- Main page content-->
  <div class="container-xl px-4 mt-n10">

    <form class="col-3 col-lg-2">

      <select *ngIf="career" class="form-select form-select-sm mb-3" (change)="subjectChange($any($event.target).value)">
        <option selected disabled default>Seleccionar materia</option>
        <option [value]="subject.id" *ngFor="let subject of career.subjects"> {{ subject.name }} </option>
      </select>

    </form>

    <board-page [board]="board"></board-page>

  </div>
</main>