<app-nav-bar></app-nav-bar>
<main>
  <header class="py-3 mb-4 border-bottom">
    <div class="container d-flex flex-wrap justify-content-center">
      <a href="/" class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto text-dark text-decoration-none">
       <span class="fs-4" *ngIf="career"> <i class="fa-solid fa-graduation-cap "></i>  {{career.name}} </span>
      </a>
    </div>
  </header>
  <!-- Main page content-->
  <div class="container-xl px-4 mt-n10">

    <!-- <div class="row mb-4">
      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button class="btn btn-primary" type="button" style="background-color: #405967;" (click)="callPollByCareer(career.id)">Encuesta de carrera</button>
      </div>
    </div> -->

    <div class="row">

      <div class="col-6">
        <select *ngIf="career" class="form-select form-select-sm mb-3 w-50 form-custom-select" (change)="subjectChange($any($event.target).value)">
          <!-- <option selected disabled default>Seleccionar materia</option> -->
          <option [value]="subject.id" *ngFor="let subject of subjectList"> {{ subject.name }} </option>
        </select>
      </div>

      <div class="col-6 d-flex justify-content-end">

        <select *ngIf="listOrderTypes" [(ngModel)]="orderTypeSelected" class="form-select form-select-sm mb-3 w-50 form-custom-select">
          <!-- <option selected disabled default>Seleccionar materia</option> -->
          <option [ngValue]="orderType.forumOrder" *ngFor="let orderType of listOrderTypes"> {{ orderType.description }} </option>
        </select>
      </div>

    </div>



    <board-page *ngIf="board" [board]="board" [orderTypeSelected]="orderTypeSelected"></board-page>

  </div>
</main>