.question-poll
{
    background-color: #DCE5EA;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
}

/* .custom-radio-button
{
    border-radius: 10px;
    padding: 5px;
    border: 2px #405967 solid;
} */