<div class="component-container"> 
    <div class="component-container-data text-center">
        <i style="font-size: 18px;">Horas de cursada semanal</i>
        <br/>
        <b>6</b>
    </div>
    <div class="component-container-data text-center">
        <i style="font-size: 18px;">Horas promedio fuera de cursada</i>
        <br/>
        <b>6</b>
    </div>
    <div class="component-container-data text-center">
        <i style="font-size: 18px;">Dificultad de cursada</i>
        <br/>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-regular fa-star"></i>
    </div>
    <div class="component-container-data text-center">
        <i style="font-size: 18px;">Valor de lo aprendido en cursada</i>
        <br/>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-regular fa-star"></i>
    </div>

    <button class="btn btn-primary" style="background-color: #405967; border: none; width: 100%; margin-bottom: 20px; font-size: 18px;">
        Ver profesores 
    </button>
    <br/>
    
    <button class="btn btn-primary" style="background-color: #405967; border: none; width: 100%; font-size: 18px">
        Ver correlativas 
    </button>
</div>
