<main>
    <div id="register" class="row"
        style="background-color: #FFF2E8; width: 70%; margin:auto; margin-top:150px; border-radius: 15px; box-shadow:0px 0px 5px #405967;">

        <div class="text-center">
            <img src="../../../assets/images/logo-uces.png" alt="">
        </div>
        <div class="container">
            <div id="register-row">
                <div id="register-column">
                    <div id="register-box" class="register-box">
                        <form id="register-form" [formGroup]="registerForm" (ngSubmit)="createAccount()" class="form"
                            method="post">

                            <div class="form-group mb-25 row">
                                <div class="col-6"><input type="text" formControlName="firstname" name="firstname"
                                        id="firstname" placeholder="Nombre" class="form-control"></div>
                                <div class="col-6"><input type="text" formControlName="lastname" name="lastname"
                                        id="lastname" placeholder="Apellido" class="form-control">
                                </div>
                            </div>

                            <div class="form-group mb-25">
                                <input type="mail" placeholder="Mail" formControlName="email" name="mail" id="mail"
                                    class="form-control">
                            </div>

                            <div class="form-group mb-25 row">
                                <div class="col-6"><input type="password" formControlName="password" name="password"
                                        id="password" placeholder="Contraseña" class="form-control"></div>
                                <div class="col-6"><input type="password" name="confirmPassword" id="confirmPassword"
                                        placeholder="Confirmar contraseña" class="form-control">
                                </div>
                            </div>

                            <div class="text-end">
                                <input type="button" (click)="redirectToLogin()" class="btn btn-secondary btn-lg fs-18"
                                    value="Cancelar"
                                    style="border: none;color: white; margin:5px;" />

                                <input type="button" (click)="createAccount()" class="btn btn-lg fs-18 bg-blue-utn"
                                    value="Crear cuenta"
                                    style="border: none;color: white; margin:5px;" [disabled]="!registerForm.valid" />
                            </div>

                        </form>
                    </div>

                </div>
            </div>

            <!-- ERRORS -->

            <div style="max-width: 600px; margin: auto;" *ngIf="(!firstname.valid && (firstname.dirty || firstname.touched))">
                <div class="alert alert-danger sm" role="alert" style="padding: 7px;" *ngIf="firstname.errors.required">
                    <i class="fa-solid fa-circle-xmark"></i> El nombre es requerido
                </div>
                <div class="alert alert-danger sm" role="alert" style="padding: 7px;" *ngIf="firstname.errors.lettersOnly">
                    <i class="fa-solid fa-circle-xmark"></i> El nombre solo puede contener letras
                </div>
              </div>

              <div style="max-width: 600px; margin: auto;" *ngIf="(!lastname.valid && (lastname.dirty || lastname.touched))">
                <div class="alert alert-danger sm" role="alert" style="padding: 7px;" *ngIf="lastname.errors.required">
                    <i class="fa-solid fa-circle-xmark"></i> El apellido es requerido
                </div>
                <div class="alert alert-danger sm" role="alert" style="padding: 7px;" *ngIf="lastname.errors.lettersOnly">
                    <i class="fa-solid fa-circle-xmark"></i> El apellido solo puede contener letras
                </div>
              </div>


            <div style="max-width: 600px; margin: auto;" *ngIf="(!email.valid && (email.dirty || email.touched))">
                <div class="alert alert-danger sm" role="alert" style="padding: 7px;" *ngIf="email.errors?.email">
                    <i class="fa-solid fa-circle-xmark"></i> El mail debe tener un formato de mail valido
                </div>

                <div class="alert alert-danger" role="alert" style="padding: 7px;" *ngIf="email.errors?.emailExists">
                    <i class="fa-solid fa-circle-xmark"></i> Ya existe una cuenta con este mail
                </div>
            </div>


        </div>



    </div>

</main>