.bar {
    
    display: flex;
    width: 100%;

    background-color: #ccc;
    border-radius: 10px;
    

  }

  .yes-bar {
    background-color: #405967;
    color: white;
    font-weight: 500;
    display: flex;
    font-size: 14px;
    align-items: center;
    padding: 2px 2px 2px 10px;
    border-radius: 10px 0px 0px 10px;
    border: 1px #405967 solid;

  }

  .no-bar {
    background-color: white;
    color: #405967;
    display: flex;
    font-weight: 500;
    font-size: 14px;
    padding: 2px 2px 2px 10px;
    align-items: center;
    border-radius: 0px 10px 10px 0px;
    border: 1px #405967 solid;
  }