.active
{
    background-color: #405967 !important;
    color: white !important;
    pointer-events: none !important;
}

.nav-link
{
    cursor: pointer;
}




.btn-secu
{
    background-color: transparent;
    border: none;
}

.btn-secu:hover
{
    background-color: #eef5f9;
}

.card-body-forum
{
    background-color: #DCE5EA;
    padding: 10px;
    border-radius: 0px 10px 10px 10px;
}

.d-in-block
{
    display: inline-block;
}

.btn-transparent
{
    background-color: transparent;
    border: none;
}

.btn-transparent:hover
{
    text-decoration: underline;
    color: blue;
}

.mr-ml-16
{
    margin-right: 16px;
    margin-left: 16px;
}

.interaction-btns
{
    margin-bottom: 8px;
    margin-top: 8px;
}

.card-response-query
{
    margin-top: 16px;
}

.card
{
    padding: 16px;
}

.bg-light-blue
{
    background-color: #eef5f9;
}

.btn:focus {
    outline: none;
    box-shadow: none;
}

.custom-text-area
{
    border-radius: 0px 10px 10px 10px;
    resize: none;
}

.avatar {
    width: 65px;
    height: 65px;
    object-fit: cover;
    border-radius: 50%;
    border: none;
    margin-bottom: 10px;
  }

.avatar-box
{
  padding: 10px;
  border: #405967 2px solid;
  border-radius: 10px;
  box-shadow: 0px 0px 2px #405967;
}

.container {
    display: flex;
    flex-direction: row;
  }
  
  .item {
    flex: 1;
  }
