<div class="card">
  <div class="card-body">

    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a [ngClass]="{'active': !recommendationIsSelected, 'nav-link' : true}"
          (click)="changeForumType()">
           Consultas
        </a>
      </li>
      <li class="nav-item">
        <a  class="nav-link"
          [ngClass]="{'active': recommendationIsSelected, 'nav-link' : true}"
          (click)="changeForumType()">
          Recomendaciones
        </a>
      </li>
    </ul>


      <div *ngFor="let forum of forumList">
        <div *ngIf="forum.forumType == typeForum">
          <br>
          <div class="card">
            <div class="card-body card-body-forum">
              <h5 class="card-title">{{ forum.user.firstname }} {{ forum.user.lastname }}</h5>
              <p class="card-text">{{ forum.body }}</p>
            </div>
            <!-- <hr class="mb-mt-0 mr-ml-16" /> -->
            <div class="interaction-btns text-end mr-ml-16">
              <div *ngIf="forum.forumType == forumTypeQuery" style="display: inline-block;">
                <button class="btn btn-light btn-secu mb-0"><i class="fa-regular fa-comment-dots"></i> Responder</button> 
                <p class="d-in-block mb-0"> · </p> 
                <button class="btn btn-light btn-transparent mb-0">0 respuestas</button>
                <p class="d-in-block mb-0 pd-6-12">|</p>
              </div>
                <button class="btn btn-light btn-secu mb-0"><i class="fa-regular fa-thumbs-up"></i> Recomendar</button>
                <p class="d-in-block mb-0"> · </p> 
                <button class="btn btn-light btn-transparent mb-0">0 recomendaciones</button>
            </div>
      
          <div *ngIf="forum.forumType == forumTypeQuery" class="row">
            <div class="col-12">
              <hr class="mb-mt-0 mr-ml-16" />
            </div>

            <div class="col-1"></div>
            <div class="col-11">
              <div class="card-response-query">
                <div class="card-body card-body-forum bg-light-blue">
                  <h5 class="card-title">Nombre y apellido alumno</h5>
                  <p class="card-text">Simulacion a respuesta de consulta</p>
                </div>
              </div>
            </div>

          </div> 

        </div>

        </div>
      </div>


    <br>
    <br>
    <div *ngIf="userType == 'ROLE_STUDENT'">
      <div class="mb-3">
        <label for="forumBody" class="form-label">Escriba aqui lo que desea agregar al foro</label>
        <textarea class="form-control" id="forumBody" rows="2"></textarea>
      </div>
      <div class="text-end"><button class="btn btn-success" (click)="addForum()">Agregar</button></div>
      
    </div>

  </div>

  <div class="position-fixed top-0 end-0 p-3" style="z-index: 11">
    <ngb-toast class="success-alert" *ngIf="showToastSuccess" [delay]="2000" [autohide]="true" (hidden)="showToastSuccess=false" >
      <b style="font-weight: 500;"><i class="fa-solid fa-circle-check"></i> Se ha agregado el foro correctamente</b> 
    </ngb-toast>
    <ngb-toast class="error-alert" *ngIf="showToastError" [delay]="2000" [autohide]="true" (hide)="showToastError=false">
      <b style="font-weight: 500;"><i class="fa-solid fa-circle-xmark"></i> Se ha producido un error</b> 
    </ngb-toast>
  </div>

</div>