<div class="card">
  <div class="card-body">

    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" name="active-form-type" style="background-color: #A989B0; color: white;" id="query"
          aria-current="page" (click)="changeTypeForum('query')">Opiniones</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="recommendation" style="background-color: white; color: black;"
          (click)="changeTypeForum('recommendation')">Recomendaciones</a>
      </li>
    </ul>


      <div *ngFor="let forum of forumList">
        <div *ngIf="forum.forumType == typeForum">
          <br>
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">{{ forum.user.firstname }} {{ forum.user.lastname }}</h5>
              <p class="card-text">{{ forum.body }}</p>
            </div>
          </div>
        </div>
      </div>


    <br>
    <br>
    <div *ngIf="userType == 'ROLE_STUDENT' ">
      <div class="mb-3">
        <label for="forumBody" class="form-label">Escriba aqui lo que desea agregar al foro</label>
        <textarea class="form-control" id="forumBody" rows="2"></textarea>
      </div>
      <div class="text-end"><button class="btn btn-success" (click)="addForum()">Agregar</button></div>
      
    </div>

  </div>

  <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
    <ngb-toast class="text-white bg-success" style="font-size:14px;" *ngIf="showToastSuccess" [delay]="1500" [autohide]="true" (hidden)="showToastSuccess=false" >
      <b style="font-weight: 500;"><i class="fa-solid fa-circle-check"></i> Se ha agregado el foro correctamente</b> 
    </ngb-toast>
    <ngb-toast *ngIf="showToastError" [autohide]="true" [delay]="1500" (hide)="showToastError=false" class="text-white bg-danger" style="font-size:14px;" >
      <b style="font-weight: 500;"><i class="fa-solid fa-circle-xmark"></i> Se ha producido un error</b> 
    </ngb-toast>
  </div>

</div>