<main>
    <div id="register" class="row box-form">
        <div class="text-center">
            <img src="../../../assets/images/logo-uces.png" alt="">
        </div>
        <div class="container">

            <div class="confirm-email-box">
                <h4 class="box-title-minor">Seguí los pasos que para confirmar el mail de tu cuenta</h4>
                <hr>
                <p>Confírmanos que este correo electrónico te pertenece. Seguí los pasos que hemos enviado a <b *ngIf="hiddenData">{{ hiddenData.user.email }}</b>.</p>
                <div class="form-group mb-25">
                    <a [attr.disabled]="sendingEmail ? true : null" class="class_a_href" style="text-decoration: none;" (click)="sendEmailAgain()">Volver a enviar correo</a>
                </div>
                <hr>
                <div class="text-end">
                    <input type="button" class="btn btn-secondary btn-lg fs-16" (click)="redirectToLogin()"
                        value="Volver al login"
                        style="border: none;color: white; margin:5px;" />
    
                    <button type="button"class="btn btn-lg fs-16 bg-blue-utn" 
                        style="border: none;color: white; margin:5px;" 
                        (click)="openModalChangeMail(changeMailModal)" [disabled]="updatingEmail || sendingEmail">
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="updatingEmail"></span> Actualizar información de contacto
                    </button>
                </div>
            </div>    
        </div>
    </div>
    
    <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
        <ngb-toast class="text-white bg-success" style="font-size:14px;" *ngIf="showToastSuccessSendEmailAgain" [delay]="1500" [autohide]="true" (hidden)="showToastSuccessSendEmailAgain=false" >
          <b style="font-weight: 500;"><i class="fa-solid fa-circle-check"></i> Se ha enviado el correo correctamente</b> 
        </ngb-toast>
        <ngb-toast *ngIf="showToastErrorSendEmailAgain" [autohide]="true" [delay]="1500" (hide)="showToastErrorSendEmailAgain=false" class="text-white bg-danger" style="font-size:14px;" >
          <b style="font-weight: 500;"><i class="fa-solid fa-circle-xmark"></i> Se ha producido un error</b> 
        </ngb-toast>
    </div>

      <ng-template #changeMailModal let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">Actualizar información de contacto</h4>
          <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="updateEmailForm">
            <div class="mb-3">
              <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1"><i
                        class="fa-solid fa-envelope" style="margin-right: 1px;margin-left: 1px;"></i></span>
                        <input type="mail" placeholder="Mail" formControlName="email" name="mail" id="mail"
                          class="form-control"
                          [ngClass]="{'is-invalid': ( (!email.valid && (email.dirty || email.touched)) && (email.value != hiddenData.user.email) ), 'is-valid' : 
                          ( (email.valid && (email.dirty || email.touched)) && (email.value != hiddenData.user.email) )}">

                <div class="invalid-feedback" *ngIf="(!email.valid && (email.dirty || email.touched)) && (email.value != hiddenData.user.email)"> 
                    <div *ngIf="email.errors?.required">Por favor ingrese su email.</div>
                    <div *ngIf="email.errors?.email">El mail debe tener un formato de mail valido.</div>
                    <div *ngIf="email.errors?.emailExists">Ya existe una cuenta con este mail.</div>                                   
                </div>
                </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <input type="button"class="btn btn-lg fs-16 bg-blue-utn"
          value="Guardar y reenviar mail"
          style="border: none;color: white; margin:5px;" 
          (click)="modal.close('')"
          [disabled]="!updateEmailForm.valid && (email.value != hiddenData.user.email)"/>
          <!-- <button type="button" class="btn btn-outline-dark" (click)="modal.close('')">Save</button> -->
        </div>
      </ng-template>

      <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
        <ngb-toast class="text-white bg-success" style="font-size:14px;" *ngIf="showToastSuccessSendEmailForChange" [delay]="1500" [autohide]="true" (hidden)="showToastSuccessSendEmailForChange=false" >
          <b style="font-weight: 500;"><i class="fa-solid fa-circle-check"></i> Se ha enviado un mail a la nueva direccion de correo</b> 
        </ngb-toast>
        <ngb-toast *ngIf="showToastErrorSendEmailForChange" [autohide]="true" [delay]="1500" (hide)="showToastErrorSendEmailForChange=false" class="text-white bg-danger" style="font-size:14px;" >
          <b style="font-weight: 500;"><i class="fa-solid fa-circle-xmark"></i> Se ha producido un error al enviar un mail a la nueva direccion de correo</b> 
        </ngb-toast>
      </div>

</main>