<app-nav-bar></app-nav-bar>
<main>
    <header class="py-3 mb-4 border-bottom">
        <div class="container d-flex flex-wrap justify-content-center">
          <a href="/" class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto text-dark text-decoration-none">
            <span class="fs-4"> Listado de usuarios </span>
          </a>
        </div>
      </header>
    <!-- Main page content-->
    <div class="container-xl px-4 mt-n10">

        <div class="card">
            <div class="card-body">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Buscar por apellido, nombre o email..." name="filterPost" [(ngModel)]="filterPost">
                    <hr>
                </div>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Apellido</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Email</th>
                            <th scole="col">Eliminar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let user of userList | filterUsers:filterPost">
                            <td> {{user.lastname}} </td>
                            <td> {{user.firstname}} </td>
                            <td> {{user.email}} </td>
                            <td>
                                <button type="button" class="btn btn-outline-danger" (click)="open(user)">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-dash-fill" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M11 7.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5z"></path>
                                        <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"></path>
                                    </svg>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                  </table>
            </div>
        </div>
    </div>


</main>