<main>
    <!-- Main page content-->
    <div class="container-xl px-4 mt-n10">

        <div class="component-container">
            <div class="card-body">
                
                <form class="row g-3" [formGroup]="careerForm" (ngSubmit)="onSubmit()">
                    
                    
                 
                    <div class="row" style="margin: 0px; padding: 0px;">
                        <div class="col-12">
                            <h4><i class="fa-solid fa-circle-plus"></i> Añadir carrera</h4>
                        </div>
                        <div class="col-6 mt-20">
                            <div class="form-group">
                                <div class="input-group mb-3">
                                            <input type="mail" placeholder="Nombre de la carrera" formControlName="name" name="name" id="name"
                                    class="form-control" [ngClass]="{'is-invalid': (!name.valid && (name.dirty || name.touched)), 'is-valid' : (name.valid && (name.dirty || name.touched)) }">
    
                                    <div class="invalid-feedback" *ngIf="(!name.valid && (name.dirty || name.touched))" >
                                        <div *ngIf="name.errors?.required">Por favor ingrese el nombre de la carrera.</div>
                                        <div *ngIf="name.errors?.minlength || name.errors?.maxlength">El nombre debe tener entre 5 y 100 caracteres.</div>
                                        <div *ngIf="name.errors?.careerNameExists">Ya existe una carrera con este nombre.</div>                                   
                                    </div>
    
                                    </div>
                            </div>
                            <!-- <input type="text" class="form-control" placeholder="Nombre de la carrera" formControlName="name" aria-label="career-name" aria-describedby="button-addon2"> -->
                        </div>
                        <div class="col-6 mt-20">
                            <div class="form-group">
                                <div class="input-group mb-3">
                                            <input type="mail" placeholder="Duración de la carrera" formControlName="duration" name="duration" id="duration"
                                    class="form-control" [ngClass]="{'is-invalid': (!duration.valid && (duration.dirty || duration.touched)), 'is-valid' : (duration.valid && (duration.dirty || duration.touched)) }">
                                    <div class="invalid-feedback" *ngIf="(!duration.valid && (duration.dirty || duration.touched))" >
                                        <div *ngIf="duration.errors?.required">Por favor ingrese la duración de la carrera.</div>
                                    </div>
                                </div>
                            </div>
                            <!-- <input type="number" class="form-control" placeholder="Duración de la carrera" formControlName="duration" aria-label="career-description" aria-describedby="button-addon2"> -->
                        </div>
                        <div class="col-12 mt-20">
                            <div class="form-group">
                                <div class="input-group mb-3">
                                            <input type="description" placeholder="Descripcion de la carrera" formControlName="description" name="description" id="description"
                                    class="form-control" [ngClass]="{'is-invalid': (!description.valid && (description.dirty || description.touched)), 'is-valid' : (description.valid && (description.dirty || description.touched)) }">
                                    <div class="invalid-feedback" *ngIf="(!description.valid && (description.dirty || description.touched))" >
                                        <div *ngIf="description.errors?.required">Por favor ingrese la descripción de la carrera.</div>
                                        <div *ngIf="description.errors.minlength || description.errors.maxlength">La descripción debe tener entre 30 y 300 caracteres.</div>
                                    </div>
                                </div>
                            </div>
                            <!-- <input type="text" class="form-control" placeholder="Descripcion de la carrera" formControlName="description" aria-label="career-description" aria-describedby="button-addon2"> -->
                        </div>
                        <div class="col-12 mt-20 text-end">                          
                            <button class="btn btn-secondary" type="submit" [disabled]="!careerForm.valid" id="button-addon2">Agregar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>