<app-nav-bar></app-nav-bar>

<main>
    <div id="register" class="row box-form">
        <div class="container">
            <div id="register-row">
                <div id="register-column">
                    <div id="register-box" class="register-box">
                        <h4 class="box-title">Información de cuenta</h4>
                        <hr>
                        <form id="register-form" [formGroup]="updateUserForm" (ngSubmit)="updateUser()" class="form" *ngIf="user"
                            method="post">

                            <div class="row">
                                <div class="col-4">
                                    <div class="text-center avatar-box">
                                        <input type="file" (change)="onFileSelected($event)" accept="image/*"
                                            id="fileInput" style="display:none">
                                        <img [src]="selectedImageUrl ? selectedImageUrl : defaultImage"
                                            (error)="onImageError()" class="avatar">
                                        <label for="fileInput" class="btn btn-primary" style="margin-bottom: 10px;">Cambiar imagen</label>
                                        <button class="btn btn-secondary" type="button" (click)="quitImage()">Quitar imagen</button>
                                    </div>

                                </div>
                                <div class="col-8">
                                    <div class="form-group mb-25 row">
                                        <div class="col-6">
                                            <div class="input-group" style="margin: 0px;">
                                                <span class="input-group-text" id="basic-addon1"><i
                                                        class="fa-solid fa-id-card"></i></span>
                                                <input type="text" name="firstname" [value]="user.firstname"
                                                    maxlength="40" id="firstname"
                                                    class="form-control" readonly>
                                            </div>
                                        </div>
                                        <div class="col-6">

                                            <div class="input-group">
                                                <span class="input-group-text" id="basic-addon1"><i
                                                        class="fa-solid fa-id-card"></i></span>


                                                <input type="text" [value]="user.lastname" name="lastname"
                                                    maxlength="40" id="lastname" 
                                                    class="form-control" readonly>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="form-group mb-25">
                                        <div class="input-group mb-3">
                                            <span class="input-group-text" id="basic-addon1"><i
                                                    class="fa-solid fa-envelope"
                                                    style="margin-right: 1px;margin-left: 1px;"></i></span>
                                            <input type="mail" [value]="user.email"ame="mail"
                                                id="mail" class="form-control" readonly>

                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <div class="input-group mb-3">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" id="passwordChange" formControlName="passwordChange" >
                                                <label class="form-check-label" for="passwordChange">
                                                  Realizar cambio de contraseña
                                                </label>
                                              </div>
                                          </div>
                                    </div>

                                    <div class="form-group mb-25 row" *ngIf="passwordChange.value">
                                        <div class="col-6">
                                            <div class="input-group">
                                                <span class="input-group-text" id="basic-addon1"><i
                                                        style="margin-right: 2px;margin-left: 2px;"
                                                        class="fa-solid fa-lock"></i></span>
                                                <input type="password" formControlName="password" name="password"
                                                    id="password" placeholder="Nueva contraseña" class="form-control"
                                                    [ngClass]="{'is-invalid': (!password.valid && (password.dirty || password.touched)), 'is-valid' : (password.valid && (password.dirty || password.touched))}">
                                                <div class="invalid-feedback"
                                                    *ngIf="(!password.valid && (password.dirty || password.touched))">
                                                    <div *ngIf="password.errors?.password1Upper1Lower1NumberMin8">La
                                                        contraseña debe tener al menos 8 caracteres, 1 mayúscula, 1
                                                        minúscula, 1 número, y 1 caracter especial.</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-6">

                                            <div class="input-group">
                                                <span class="input-group-text" id="basic-addon1"><i
                                                        style="margin-right: 2px;margin-left: 2px;"
                                                        class="fa-solid fa-lock"></i></span>
                                                <input type="password" formControlName="passwordRepeat"
                                                    name="confirmPassword" id="confirmPassword"
                                                    placeholder="Confirmar contraseña" class="form-control"
                                                    [ngClass]="{'is-invalid': (!passwordRepeat.valid && (passwordRepeat.dirty || passwordRepeat.touched)), 'is-valid' : (passwordRepeat.valid && (passwordRepeat.dirty || passwordRepeat.touched))}">
                                                <div class="invalid-feedback"
                                                    *ngIf="(!passwordRepeat.valid && (passwordRepeat.dirty || passwordRepeat.touched))">
                                                    <div *ngIf="passwordRepeat.errors?.required">Por favor confirme su
                                                        contraseña.</div>
                                                    <div *ngIf="passwordRepeat.errors?.mustMatch">Las contraseñas no
                                                        coinciden.</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="text-end">
                                        <input type="button" (click)="redirectToHome()"
                                            class="btn btn-secondary btn-lg fs-18" value="Volver a inicio"
                                            style="border: none;color: white; margin:5px;" />

                                        <input type="button" (click)="updateUser()" class="btn btn-lg fs-18 bg-blue-utn"
                                            value="Guardar" style="border: none;color: white; margin:5px;"
                                            [disabled]="passwordChange.value ? !updateUserForm.valid : false" />
                                    </div>

                                    <div class="position-fixed top-0 end-0 p-3" style="z-index: 11">
                                        <ngb-toast *ngFor="let toast of toasts"   
                                          [class]="toast.class" 
                                          [delay]="toast.delay" 
                                          [autohide]="true"
                                          (hidden)="removeToast(toast)">
                                          <b style="font-weight: 500;"><i [class]="toast.iconClass"></i> {{toast.body}}</b>
                                        </ngb-toast>
                                      </div>

                                </div>
                            </div>



                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>

</main>