<main>
    <div id="register" class="row box-form">
        <div class="text-center">
            <img src="../../../assets/images/logo-uces.png" alt="">
        </div>
        <div class="container">
     
            <div class="box">
                
                <h4 class="box-title-minor">Restablecer su contraseña</h4>
                <hr>
                <div *ngIf="!emailSent">

                <form [formGroup]="emailForm">
                <p>Ingrese la dirección de correo electrónico de su cuenta de usuario y le enviaremos un enlace para restablecer la contraseña.</p>

                <div class="input-group mb-3">
                   <!--  <span class="input-group-text" id="basic-addon1"><i
                            class="fa-solid fa-envelope" style="margin-right: 1px;margin-left: 1px;"></i></span> -->
                            <input type="mail" placeholder="Ingrese su dirección  de correo electrónico" formControlName="email" name="mail" id="mail"
                            class="form-control"
                    [ngClass]="{'is-invalid': ( (!email.valid && (email.dirty || email.touched))), 'is-valid' : ( (email.valid && (email.dirty || email.touched)) )}">
    
                    <div class="invalid-feedback" *ngIf="(!email.valid && (email.dirty || email.touched))"> 
                        <div *ngIf="email.errors?.required">Por favor ingrese su email.</div>
                        <div *ngIf="email.errors?.email">El mail debe tener un formato de mail valido.</div>                                
                    </div>
    
                </div>


                <hr>
                <div class="text-end">
                    <input type="button" class="btn btn-secondary btn-lg fs-16" (click)="redirectToLogin()"
                        value="Volver al login"
                        style="border: none;color: white; margin:5px;" />
    
                    <input type="button"class="btn btn-lg fs-16 bg-blue-utn"
                        value="Enviar correo electrónico"
                        style="border: none;color: white; margin:5px;" 
                        [disabled]="!emailForm.valid && !sendingEmail" (click)="sendEmail()"
                       />
                </div>
                </form>
            </div> 
            <div *ngIf="emailSent">
                <p>Si tiene una cuenta asociada a correo electrónico <b>{{ email.value }}</b> entonces recibirá un link para reestablecer su contraseña.</p>
                <div class="text-end">
                    <input type="button" class="btn btn-secondary btn-lg fs-16" (click)="redirectToLogin()"
                            value="Volver al login"
                            style="border: none;color: white; margin:5px;" />
                </div>
            </div>  
        </div>


        </div>
    </div>
    
</main>
