<main>
    <div id="register" class="row box-form">
        <div class="text-center">
            <img src="../../../assets/images/logo-uces.png" alt="">
        </div>
        <div class="container">

            <div class="box">
                <div *ngIf="validUrl && resetSuccess == null">
                    
                
                <h4 class="box-title-minor">Reestablecer contraseña</h4>
                <hr>
                <p>Cambio de contraseña para <b *ngIf="user != undefined">{{user.firstname}} {{user.lastname}}</b>.</p>
                <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">
                    <div class="form-group mb-25 row">
                        <div class="col-6">
                            
                            <div class="input-group">
                                <!-- <span class="input-group-text" id="basic-addon1"><i
                                        style="margin-right: 2px;margin-left: 2px;" class="fa-solid fa-lock"></i></span> -->
                                        <input type="password" formControlName="password" name="password"
                                        id="password" placeholder="Contraseña" class="form-control" [ngClass]="{'is-invalid': (!password.valid && (password.dirty || password.touched)), 'is-valid' : (password.valid && (password.dirty || password.touched))}">
                                    <div class="invalid-feedback" *ngIf="(!password.valid && (password.dirty || password.touched))">
                                        <div *ngIf="password.errors?.password1Upper1Lower1NumberMin8">La contraseña debe tener al menos 8 caracteres, 1 mayúscula, 1 minúscula, 1 número, y 1 caracter especial.</div>
                                    </div>

                            </div>
                        </div>
                        <div class="col-6">
                            
                            <div class="input-group">
                            <!-- <span class="input-group-text" id="basic-addon1"><i
                                    style="margin-right: 2px;margin-left: 2px;" class="fa-solid fa-lock"></i></span> -->
                                    <input type="password" formControlName="passwordRepeat" name="confirmPassword" id="confirmPassword"
                                    placeholder="Confirmar contraseña" class="form-control" [ngClass]="{'is-invalid': (!passwordRepeat.valid && (passwordRepeat.dirty || passwordRepeat.touched)), 'is-valid' : (passwordRepeat.valid && (passwordRepeat.dirty || passwordRepeat.touched))}">
                                    <div class="invalid-feedback" *ngIf="(!passwordRepeat.valid && (passwordRepeat.dirty || passwordRepeat.touched))" >
                                        <div *ngIf="passwordRepeat.errors?.required">Por favor confirme su contraseña.</div>                            
                                        <div *ngIf="passwordRepeat.errors?.mustMatch">Las contraseñas con coinciden.</div>
                                    </div>
                            </div>
                        </div>
                    </div>

                    
               
                    <hr>
                    <div class="text-end">
        
                        <input type="submit"class="btn btn-lg fs-16 bg-blue-utn"
                            value="Cambiar contraseña"
                            style="border: none;color: white; margin:5px;" 
                            [disabled]="!resetPasswordForm.valid"
                           />
                    </div>      
                </form>  
            </div>

            <div *ngIf="resetSuccess != null">

                <!-- <h4 class="box-title-minor">Reestablecer contraseña</h4> -->
                <hr>

                <p *ngIf="!validUrl || resetSuccess == false" style="color: red;"><i class="fa-solid fa-circle-xmark"></i>Este link ya no es válido</p>

            
                <p *ngIf="resetSuccess == true" style="color:green;"><i class="fa-solid fa-circle-check"></i> Su contraseña ha sido modificada conrrectamente</p>
                <hr>
                <div class="text-end">
                    <input type="button" class="btn btn-secondary btn-lg fs-16" (click)="redirectToLogin()"
                    value="Ir al login"
                    style="border: none;color: white; margin:5px;" />
                </div>      
            </div>


            </div>


            </div>
            </div>    

       
</main>