<app-nav-bar></app-nav-bar>
<main>
    <div class="container-xl px-4 mt-n10" style="margin-top: 20px; margin-bottom: 20px;">
        <div class="component-container text-center">
            <span class="text-center"><i class="fa-solid fa-graduation-cap" style="color: #405967; font-weight: bold; font-size: 35px;"></i></span>
            <span class="fs-4" style="color: #405967; font-weight: bold; font-size: 27px!important;"> {{career.name}} </span>
        </div>
    </div>

    <br>

    <app-add-subject [career]="career"></app-add-subject>
    <br>
    <!-- Main page content-->
    <div class="container-xl px-4 mt-n10">

        <div class="component-container">
            <div class="card" >
            <div class="card-body">
                <hr>
                <table class="table table-striped center" style="margin-left: auto; margin-right: auto;">
                <thead>
                    <tr style="text-align:center">
                        <th scope="col" text-align="center">Nombre</th>
                        <th scole="col" text-align="center">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let subject of subjectList" style="text-align:center">
                        
                        <td style="text-align:left"> {{subject.name}} </td>
                        
                        <td>
                            <button type="button" class="btn btn-danger" (click)="setSubjectToDelete(subject,confirmDeleteModal)">
                                <i class="fa-solid fa-trash-can"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<ng-template #confirmDeleteModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Encuesta</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')" ></button>
    </div>
    <div class="modal-body" *ngIf="subjectSelectedToDelete">
        ¿Está seguro que desea eliminar la materia {{ subjectSelectedToDelete.name }}?
    </div>
    <div class="modal-footer">      
      <button type="button" class="btn btn-secondary" (click)="modal.close('')">Cancelar</button>
      <button type="button" class="btn btn-danger" (click)="deleteSubjectSelected(modal)">Eliminar</button>
    </div>
  </ng-template>

  <div class="position-fixed top-0 end-0 p-3" style="z-index: 11">
    <ngb-toast *ngFor="let toast of toasts"   
      [class]="toast.class" 
      [delay]="toast.delay" 
      [autohide]="true"
      (hidden)="removeToast(toast)">
      <b style="font-weight: 500;"><i [class]="toast.iconClass"></i> {{toast.body}}</b>
    </ngb-toast>
  </div>


</main>