<app-nav-bar></app-nav-bar >
  <div class="container-xl px-4 mt-n10 component-container mt-20 text-center">
        <span class="text-center"><i class="fa-solid fa-square-poll-vertical" style="color: #405967; font-weight: bold; font-size: 35px;"></i></span>
        <span class="fs-4" style="color: #405967; font-weight: bold; font-size: 27px!important;"> Administrar encuestas </span>
    </div>

<div class="container-xl px-4 mt-n10 component-container mt-20">
    <div class="text-end">
        <button class="btn btn-secu mb-20" (click)="navigateToAddNewPoll()"><i class="fa-solid fa-square-poll-vertical"></i> Agregar nueva encuesta</button>
        <!-- Contenido del div -->
    </div>
    <div class="card" *ngIf="pollList">
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Encuesta sobre</th>
                        <th scope="col">Carrera/Materia a evaluar</th>
                        <th scole="col">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let poll of pollList">
                       <td *ngIf="poll.pollType === careerPollType">Carrera</td>
                       <td *ngIf="poll.pollType === subjectPollType">Materia</td>
                       <td *ngIf="poll.career">{{poll.career.name}}</td>
                       <td *ngIf="poll.subject">{{poll.subject.name}}</td>        
                       <td>
                        <button class="btn btn-secu"  [routerLink]="['/poll/details', poll.id]" style="margin-right: 5px;"><i class="fa-solid fa-circle-right"></i></button>
                        <button class="btn btn-danger" (click)="setPollSelectedToDelete(poll, confirmDeleteModal)"><i class="fa-solid fa-trash-can"></i></button>
                       </td>
                    </tr>
                </tbody>
              </table>
        </div>
    </div>


    
    <ng-template #confirmDeleteModal let-modal>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Encuesta</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')" ></button>
      </div>
      <div *ngIf="pollSelectedToDelete">
        <div class="modal-body" *ngIf="pollSelectedToDelete.subject">
            ¿Está seguro que desea eliminar la encuesta de materia de {{ pollSelectedToDelete.subject.name }}?
        </div>
        <div class="modal-body" *ngIf="pollSelectedToDelete.career">
            ¿Está seguro que desea eliminar la encuesta de carrera de {{ pollSelectedToDelete.career.name }}?
        </div>
      </div>
      <div class="modal-footer">      
        <button type="button" class="btn btn-secondary" (click)="modal.close('')">Cancelar</button>
        <button type="button" class="btn btn-danger" (click)="deletePollSelected(modal)">Eliminar</button>
      </div>
    </ng-template>
   



          <!-- <div class="modal fade" #confirmDeleteModal id="confirmDeleteModal" tabindex="-1" aria-labelledby="confirmDeleteModal" aria-hidden="true"> -->

    <!-- <ng-template #confirmDeleteModal let-modal>
      <div class="modal fade">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Eliminar encuesta</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div *ngIf="pollSelectedToDelete">
                <div class="modal-body" *ngIf="pollSelectedToDelete.subject">
                    ¿Está seguro que desea eliminar la encuesta de materia de {{ pollSelectedToDelete.subject.name }}?
                </div>
    
                <div class="modal-body" *ngIf="pollSelectedToDelete.career">
                    ¿Está seguro que desea eliminar la encuesta de carrera de {{ pollSelectedToDelete.career.name }}?
                </div>
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
              <button type="button" class="btn btn-danger" (click)="deletePollSelected()">Eliminar</button>
            </div>
          </div>
        </div>
      </div>
    </ng-template> -->



    <div class="position-fixed top-0 end-0 p-3" style="z-index: 11">
        <ngb-toast *ngFor="let toast of toasts"   
          [class]="toast.class" 
          [delay]="toast.delay" 
          [autohide]="true"
          (hidden)="removeToast(toast)">
          <b style="font-weight: 500;"><i [class]="toast.iconClass"></i> {{toast.body}}</b>
        </ngb-toast>
    </div>
</div>

