<nav class="navbar navbar-expand-sm navbar-dark bg-violet">
    <div class="container-fluid">
    <a class="navbar-brand" href="#">UCES</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main_nav"  aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="main_nav">
      <ul class="navbar-nav ">
        <li class="nav-item"> <a class="nav-link" href="#">Home </a> </li>
        <li class="nav-item dropdown" id="myDropdown">
          <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">  Carreras  </a>
          <ul class="dropdown-menu">
            <li *ngFor="let career of careerList">
                <a class="dropdown-item" [routerLink]="['/career/page', career.id]"> {{ career.name }} </a>
            </li>
          </ul>
        </li>
        <li class="nav-item"> <a class="nav-link" [routerLink]="['users/list']" *ngIf="userType=='ROLE_ADMINISTRATOR'">Usuarios </a> </li>
      </ul>
    </div>
    
    <div class="text-end">
      <ul class="navbar-nav">
        <button type="button" class="btn btn-light me-2" style="color: #A989B0; font-weight: bold;" *ngIf="userType=='ROLE_ANONYMOUS'" [routerLink]="['login']">Login</button>
        <li class="nav-item"> <a class="nav-link" *ngIf="userType!='ROLE_ANONYMOUS'">Logout </a> </li>
      </ul>
    </div>
    <!-- navbar-collapse.// -->
    </div>
    <!-- container-fluid.// -->
    </nav>

    <router-outlet></router-outlet>