<app-nav-bar></app-nav-bar>
<main>
    <div class="container-xl px-4 mt-n10" style="margin-top: 20px; margin-bottom: 20px;">
        <div class="component-container text-center">
            <span class="text-center"><i class="fa-solid fa-graduation-cap" style="color: #405967; font-weight: bold; font-size: 35px;"></i></span>
            <span class="fs-4" style="color: #405967; font-weight: bold; font-size: 27px!important;"> Administrar carreras </span>
        </div>
    </div>
    
   
        <!-- <div class="d-flex flex-wrap justify-content-center align-items-center component-container" style="margin: 0px; height: 100%;">
          <div class="text-center">
            <p class="text-center"><i class="fa-solid fa-graduation-cap" style="color: #405967; font-weight: bold; font-size: 60px;"></i></p>
            <span class="fs-4" style="color: #405967; font-weight: bold; font-size: 27px!important;"> Administrar carreras </span>
          </div>
        </div> -->
    
    <app-add-career (messageEventAddCareer)="receiveMessageEventAddCareer($event)"></app-add-career>
    <br>
    
    <!-- Main page content-->
    <div class="container-xl px-4 mt-n10">

        <div class="component-container">
            <div class="card" >
                <div class="card-body">
                    <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Nombre</th>
                            <th scope="col">Duración</th>
                            <th scope="col">Descripcion</th>
                            <th scole="col">Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let career of careersList">
                            <td> {{career.name}} </td>
                            <td> {{career.duration}} </td>
                            <td style="max-width: 300px;"> {{career.description}} </td>
                            <td>
                                <button type="button" class="btn btn-danger" (click)="setCareerToDelete(career,confirmDeleteModal)" style="margin-right: 10px;"><i class="fa-solid fa-trash-can"></i></button>
                                <button class="btn btn-secu"  [routerLink]="['/subject/list/career/' + career.id]" style="margin-right: 5px;">Materias <i class="fa-solid fa-circle-right"></i></button>
                            </td>
                        </tr>
                    </tbody>
                  </table>
            </div>
        </div>
        </div>
    </div>

    <ng-template #confirmDeleteModal let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">Encuesta</h4>
          <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')" ></button>
        </div>
        <div class="modal-body" *ngIf="careerSelectedToDelete">
            ¿Está seguro que desea eliminar la carrera {{ careerSelectedToDelete.name }}?
        </div>
        <div class="modal-footer">      
          <button type="button" class="btn btn-secondary" (click)="modal.close('')">Cancelar</button>
          <button type="button" class="btn btn-danger" (click)="deleteCareerSelected(modal)">Eliminar</button>
        </div>
      </ng-template>


    <div class="position-fixed top-0 end-0 p-3" style="z-index: 11">
        <ngb-toast *ngFor="let toast of toasts"   
          [class]="toast.class" 
          [delay]="toast.delay" 
          [autohide]="true"
          (hidden)="removeToast(toast)">
          <b style="font-weight: 500;"><i [class]="toast.iconClass"></i> {{toast.body}}</b>
        </ngb-toast>
      </div>

</main>