/* You can add global styles to this file, and also import other style files */

.bg-violet{
    background-color: #A989B0;
}

.bg-blue-utn
{
    background-color: #405967;

}

.text-blue-utn
{
    color: #405967;
}

.text-violet{
    color: #A989B0;
    
}

.mb-0
{
margin-bottom: 0px;
}

.mb-25 {
    margin-bottom: 25px;
  }

  .mb-15 {
    margin-bottom: 25px;
  }

  .fs-20{
    font-size: 20px;
    font-weight: 600;
  }

  .fs-18{
    font-size: 18px;
    font-weight: 600;
  }

  
  .fs-16{
    font-size: 16px;
    font-weight: 600;
  }

  .box-form
  {
    background-color: #FFF2E8; 
    width: 70%; 
    margin:auto; 
    margin-top:150px; 
    border-radius: 15px; 
    box-shadow:0px 0px 5px #405967;
  }

  .box-title
  {
    color: #405967;
    font-weight: bolder; 
    font-size: 28px; 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

.box-title-minor
{
  color: #405967;
  font-weight: bolder; 
  font-size: 20px; 
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.box {
  margin: auto;  
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 600px;
  width: 100%;
  box-shadow: 0px 0px 5px #405967;
  background-color: white;
  padding: 25px;
}

.pd-6-12
{
    padding: 6px 12px;
}

.mb-mt-0
{
  margin-top: 0px;
  margin-bottom: 0px;
}

.w-50
{
  width: 50%;
}

.form-custom-select
{
  appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
  border-radius: 12px;
  padding: 7px 10px;
  cursor: pointer;
  background-color: #f0f0f0;
  color: #405967;
	font-size: 1em;
  font-weight: bold;
  border:2px solid #405967;
}

ngb-pagination .page-item.active .page-link {
  background-color: #405967 !important;
  color: white;
  border-color: #405967 !important;
}


